<!-- Sidebar -->
<div class="sidebar">
  <div class="sidebar-header">
    <h2>Bảng quản lý</h2>
  </div>
  <ul class="sidebar-menu">
    <li class="active">
      <a href="#" id="dashboardBtn"
        ><i class="fas fa-fw fa-tachometer-alt"></i> Dashboard</a
      >
    </li>
    <li>
      <a href="#" id="usersBtn"
        ><i class="fas fa-fw fa-users"></i> Phân quyền</a
      >
    </li>
    <li>
      <a href="#" id="productsBtn"><i class="fas fa-fw fa-box"></i> Sản phẩm</a>
    </li>
    <li>
      <a href="#" id="ordersBtn">
        <i class="fas fa-fw fa-shopping-cart"></i> Đơn hàng</a
      >
    </li>
    <li>
      <a href="#" id="revenueBtn"
        ><i class="fas fa-fw fa-chart-bar"></i> Doanh thu</a
      >
    </li>
    <li>
      <a href="#" id="settingsBtn"><i class="fas fa-fw fa-cog"></i> Cài đặt</a>
    </li>
  </ul>
</div>
